<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InsiderWebAutomation" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="Utility.Listener" />
    </listeners>

    <test name="Tests">
        <classes>
            <class name="Tests.CareersTest"/>
            <class name="Tests.HomeTest"/>
            <class name="Tests.QATest"/>
        </classes>
    </test>
</suite>
